@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
	--ff-base: "Poppins", Arial, Helvetica, sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	font-family: var(--ff-base);
	background-color: #000;
	color: #fff;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

a,
a:link,
a:visited {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

h1,
h2,
h3 {
	line-height: 1.1;
}

.header {
	min-height: calc(100vh - 5em);
}

.navbar {
	padding-block: 1em;
}

.navbar ul {
	display: flex;
	justify-content: center;
	gap: 1em;
}

.navbar a {
	font-size: 1rem;
}

.navbar a:hover {
	color: cyan;
}

.hero {
	width: 90%;
	max-width: 70em;
	margin-inline: auto;
	margin-block: 5em;
}

.hero img {
	max-width: 15em;
	margin-inline: auto;
	margin-bottom: 2em;
	border-radius: 100%;
	border: 2px solid #fff;
}

.textbox {
	text-align: center;
}

.textbox h1 {
	text-transform: uppercase;
	font-size: clamp(2rem, 8vw, 5rem);
}

.textbox h1:hover {
	color: cyan;
}

main {
	text-align: center;
	font-size: 1.25rem;
}

@media (min-width: 45em) {
	.navbar {
		padding-block: 2em;
	}

	.navbar ul {
		gap: 3em;
	}

	.navbar a {
		font-size: 1.25rem;
	}
}
